<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.StudySoftMapper">

	<select id="getStudySoftB" resultType="model.StudySoft_titleB">
		select * from zysoftware_titleb
	</select>
	
	<select id="getStudySoftS" parameterType="int" resultType="model.StudySoft_titleS">
		select * from zysoftware_titles where titleS_to_titleB =#{tidB}
	</select>
	
	<select id="getStudySoft" parameterType="int" resultType="model.StudySoft">  <!--  这里可以只要显示的一部分，等待优化中 -->
		SELECT zysoftware.id,zysoftware.soft_to_titleS,zysoftware.softName,a.softImage,a.soft_jianjie,a.soft_jietu,a.softUrl,a.soft_date,a.soft_version,a.soft_pw,a.soft_video,soft_cg.softType FROM zysoftware INNER JOIN soft AS a ON zysoftware.softName = a.softName INNER JOIN soft_cg ON a.cid = soft_cg.id WHERE zysoftware.soft_to_titleS = #{soft_to_titleS} ORDER BY ID ASC
	</select>
	
	<select id="getStudySoft_All" parameterType="int" resultType="model.StudySoft" >
		SELECT a.id,a.softName,a.soft_to_titleS,b.soft_jietu,b.softImage,b.soft_jianjie,b.softUrl,b.soft_date,b.soft_version,b.soft_pw,b.soft_video,soft_cg.softType FROM zysoftware AS a INNER JOIN soft AS b ON a.softName = b.softName INNER JOIN soft_cg ON b.cid = soft_cg.id WHERE a.id =#{id} ORDER BY a.id ASC
	</select>
	
	<select id="getStudySoft_id" parameterType="String" resultType="model.StudySoft" >
		SELECT id,softName FROM soft where softName like #{softName}
	</select>
	
	<select id="getAllSoftName" resultType="model.StudySoft">
		SELECT a.id,a.softName,a.softImage,a.soft_jianjie,a.soft_jietu,a.softUrl,a.soft_date,a.soft_version,a.soft_pw,a.soft_video,b.softType FROM soft AS a INNER JOIN soft_cg AS b ON a.cid = b.id ORDER BY a.id ASC
	</select>
	
	<select id="addSoftName" parameterType="model.StudySoft" resultType="model.StudySoft">
		insert into soft (softName, cid, softImage, soft_jietu, softUrl, soft_jianjie, soft_video, soft_date, soft_version) VALUES (#{softName},#{cid},#{softImage},#{soft_jietu},#{softUrl},#{soft_jianjie},#{soft_video},#{soft_date},#{soft_version})
	</select>
	
	<select id="checkSoftName" parameterType="String" resultType="model.StudySoft">
		SELECT id,softName FROM soft WHERE softName=#{softName}
	</select>
	
	<select id="addStudySoft" parameterType="model.StudySoft" resultType="model.StudySoft">
		insert into zySoftware (softName,soft_to_titleS) VALUES (#{softName},#{soft_to_titleS})
	</select>
	
	<select id="getAllSoft" resultType="model.StudySoft">
		SELECT a.softName,a.softImage,a.soft_jianjie,a.soft_jietu,a.softUrl,a.soft_date,a.soft_version,a.soft_pw,a.soft_video,b.softType,d.titleSName,e.titleBName,c.id FROM soft AS a INNER JOIN soft_cg AS b ON a.cid = b.id INNER JOIN zysoftware AS c ON c.softName = a.softName INNER JOIN zysoftware_titles AS d ON c.soft_to_titleS = d.id INNER JOIN zysoftware_titleb AS e ON d.titleS_to_titleB = e.id ORDER BY c.id ASC
	</select>
	
	<select id="deleteStudySoftAllot" parameterType="model.StudySoft" resultType="model.StudySoft">
		delete from zySoftware where id=#{id}
	</select>
	
	<select id="deleteStudySoft" parameterType="model.StudySoft" resultType="model.StudySoft">
		delete from soft where id=#{id}
	</select>
	
	<select id="updateStudySoft" parameterType="model.StudySoft" resultType="model.StudySoft">
		update soft set softName=#{softName},softType=#{softType},softImage=#{softImage},soft_jietu=#{soft_jietu},softUrl=#{softUrl},soft_jianjie=#{soft_jianjie},soft_video=#{soft_video},soft_date=#{soft_date},soft_version=#{soft_version} where id=#{id}
	</select>
	
	<select id="getCollege" resultType="model.StudySoft_titleB">
		SELECT * FROM zysoftware_titleb ORDER BY id asc
	</select>
	
	<select id="addCollege" parameterType="model.StudySoft_titleB" resultType="model.StudySoft_titleB">
		insert into zysoftware_titleb (titleBName) VALUES (#{titleBName})
	</select>
	
	<select id="delCollege" parameterType="model.StudySoft_titleB" resultType="model.StudySoft_titleB">
		delete from zysoftware_titleb where id=#{id}
	</select>
	
	<select id="updateCollege" parameterType="model.StudySoft_titleB" resultType="model.StudySoft_titleB">
		update zysoftware_titleb set titleBName=#{0} where id=#{1}
	</select>
	
	<select id="getMajor_college"  parameterType="model.StudySoft_titleS" resultType="model.StudySoft_titleS">
		SELECT a.id,a.titleSName,a.titleS_to_titleB,b.titleBName FROM zysoftware_titles AS a INNER JOIN zysoftware_titleb AS b ON a.titleS_to_titleB = b.id where titleS_to_titleB = #{titleS_to_titleB} ORDER BY a.id ASC
	</select>
	
	<select id="getMajor" resultType="model.StudySoft_titleS">
		SELECT a.id,a.titleSName,a.titleS_to_titleB,b.titleBName FROM zysoftware_titles AS a INNER JOIN zysoftware_titleb AS b ON a.titleS_to_titleB = b.id ORDER BY a.id ASC
	</select>
	
	<select id="addMajor" parameterType="model.StudySoft_titleS" resultType="model.StudySoft_titleS">
		insert into zysoftware_titles (titleSName,titleS_to_titleB) VALUES (#{0},#{1})
	</select>
	
	<select id="delMajor" parameterType="model.StudySoft_titleS" resultType="model.StudySoft_titleS">
		delete from zysoftware_titles where id=#{id}
	</select>
	
	<select id="updateMajor" parameterType="model.StudySoft_titleS" resultType="model.StudySoft_titleS">
		update zysoftware_titles set titleSName=#{0} where id=#{1}
	</select>
	
	<select id="getAllot_major" parameterType="model.StudySoft" resultType="model.StudySoft">
		SELECT * FROM zysoftware where soft_to_titleS = #{soft_to_titleS}
	</select>
	
	<select id="getAllot_name" parameterType="model.StudySoft" resultType="model.StudySoft">
		SELECT softName FROM zysoftware WHERE softName = #{softName}
	</select>
	
	<select id="getType" resultType="model.StudySoft">
		SELECT * FROM soft_cg order by id asc
	</select>
	
	<select id="addType" parameterType="model.StudySoft" resultType="model.StudySoft">
		insert into soft_cg (softType) VALUES (#{softType})
	</select>
	
	<select id="delType" parameterType="model.StudySoft" resultType="model.StudySoft">
		delete from soft_cg where id=#{id}
	</select>
	
	<select id="updateType" parameterType="model.StudySoft" resultType="model.StudySoft">
		update soft_cg set softType=#{0} where id=#{1}
	</select>
	
	<select id="getSoft_Type" parameterType="model.StudySoft" resultType="model.StudySoft">
		SELECT * FROM soft where cid = #{cid}
	</select>
	
	<select id="getStudySoft_b" parameterType="model.StudySoft" resultType="model.StudySoft">
		SELECT * from zysoftware_b
	</select>
	
	<select id="updateStudySoft_b" parameterType="model.StudySoft" resultType="model.StudySoft">
		update zysoftware_b set ico=#{0},jpg=#{1} where id=#{2}
	</select>
	
</mapper>
