<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.StudySoftMapper">

	<select id="getStudySoftB" resultType="model.StudySoft_titleB">
		select * from zysoftware_titleb
	</select>
	
	<select id="getStudySoftS" parameterType="int" resultType="model.StudySoft_titleS">
		select * from zysoftware_titles where titleS_to_titleB =#{tidB}
	</select>
	
	<select id="getStudySoft" parameterType="int" resultType="model.StudySoft">  <!--  这里可以只要显示的一部分，等待优化中 -->
		SELECT a.id,a.softName,a.soft_to_titleS,b.softType,b.soft_jietu,b.softImage,b.soft_to_titleS,b.soft_jianjie,b.softUrl,b.soft_date,b.soft_version,b.soft_pw,b.soft_video FROM zysoftware AS a INNER JOIN soft AS b ON a.softName = b.softName WHERE a.soft_to_titleS =#{tidS} ORDER BY a.id ASC
	</select>
	
	<select id="getStudySoft_All" parameterType="int" resultType="model.StudySoft" >
		SELECT a.id,a.softName,a.soft_to_titleS,b.softType,b.soft_jietu,b.softImage,b.soft_to_titleS,b.soft_jianjie,b.softUrl,b.soft_date,b.soft_version,b.soft_pw,b.soft_video FROM zysoftware AS a INNER JOIN soft AS b ON a.softName = b.softName WHERE a.id =#{id} ORDER BY a.id ASC
	</select>
	
	<select id="getStudySoft_id" parameterType="String" resultType="model.StudySoft" >
		SELECT id,softName FROM soft where softName like #{softName}
	</select>
	
	<select id="getAllSoftName" resultType="model.StudySoft">
		SELECT id,softName FROM soft order by id asc
	</select>
	
	<select id="addSoftName" parameterType="String" resultType="model.StudySoft">
		insert into soft (softName, softType, softImage, soft_jietu, softUrl, soft_jianjie, soft_video, soft_date, soft_version) VALUES (#{softName},#{softType},#{softImage},#{soft_jietu},#{softUrl},#{soft_jianjie},#{soft_video},#{soft_date},#{soft_version})
	</select>
	
	<select id="getSoftName_id" parameterType="String" resultType="model.StudySoft">
		SELECT id,softName,softType,softImage,soft_to_titleS,soft_jianjie,soft_jietu,softUrl,soft_date,soft_version,soft_pw,soft_video FROM soft AS a WHERE id=#{id}
	</select>
	
	<select id="addStudySoft" parameterType="model.StudySoft" resultType="model.StudySoft">
		insert into zySoftware (softName,soft_to_titleS) VALUES (#{softName},#{soft_to_titleS})
	</select>
	
	<select id="getAllSoft" resultType="model.StudySoft">
		SELECT a.id,a.softName,b.softType,b.softImage,b.soft_jianjie,b.soft_jietu,b.softUrl,b.soft_date,b.soft_version,b.soft_pw,b.soft_video,d.titleBName,c.titleSName FROM zysoftware AS a INNER JOIN soft AS b ON a.softName = b.softName INNER JOIN zysoftware_titles AS c ON a.soft_to_titleS = c.id INNER JOIN zysoftware_titleb AS d ON c.titleS_to_titleB = d.id ORDER BY id DESC
	</select>
	
	<select id="deleteStudySoft" parameterType="model.StudySoft" resultType="model.StudySoft">
		delete from zySoftware where id=#{id}
	</select>
	
</mapper>
